.site-header {
    padding: 65px 0;
    background-color: #1c516c;
    color: #fff;
}

.site-search {
    display: flex;
    padding: 65px 0;
}

.search-row {
    margin: auto;
}

.btn-button{
    width: 200px;
    color: #1c516c;
    background-color: #ebac00;
    border-color: #ebac00;
    font-weight: bold;
}

.btn-button:hover {
    background-color: #1c516c;
    border-color: #1c516c;
    color: #ebac00;
}

.location-details {
    list-style-type: none;
}

.facility-name {
    font-weight: bold;
}

.btn-width-auto {
    width: auto;
}


.map {
    padding: 0 !important;
}
/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}
