.site-search {
    display: flex;
    padding: 65px 0;
}

.search-row {
    margin: auto;
}

.btn3-style{
    width: 200px;
    color: #438BE3 !important;
}

.site-info-p {
    padding-top: 0;
    padding-bottom: 65px;
    max-width: 1000px;
}

.location-details {
    list-style-type: none;
}

.facility-name {
    font-weight: bold;
}

.btn-width-auto {
    width: auto;
}

.display-site-info {
    padding-bottom: 50px;
}

.button-site {
    padding-top: 5px;
}

.map {
    padding: 0 !important;
}
/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}
