.login-box {
    background-image: url("../img/vectorstock_31561292.png");
    background-repeat: no-repeat;
    height: 70vh;
    background-size: 65%;
    background-position: 90%;
    margin-left: 200px;
}
/* 
.login-box-container {
  width: 17%;
  height: 25px;
} */

.form-signin {
    width: 100%;
    max-width: 430px;
    margin: 206px 0;
    padding: 45px;
    background-color: #b2ddec;
    border-radius: 15px;
  }

  .form-signin .checkbox {
    font-weight: 400;
  }

  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="username"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
