.signup-box {
    background-image: url("../img/vectorstock_30731939.png");
    background-repeat: no-repeat;
    height: 90vh;
    background-size: 65%;
    background-position: 90%;
    margin-left: 200px;
}

.signup-p {
    padding-bottom: 35px;
    padding-top: 10px;
}

small {
    font-size: 11px !important;
}

.form-container {
    max-width: 980px;
}

.col-sm-3 {
    width: 20%;
}
