html {
    max-height: 100%;
    overflow-x: hidden;
}

body{
    position: relative;
    min-height: 100vh;
}

a {
    cursor: pointer;
}

.site-header {
    padding: 65px 0;
    background-color: #1c516c;
    color: #fff;
}

.flashes {
    list-style-type: none;
    
}

.container {
    padding: 65px 0;
}

.container-lg {
    padding: 65px 0;
}

.landing-header {
    background-image: url("../img/pexels-cdc-3992933.jpg");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 65%;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .25), inset 580px 0 200px #fff;
}

.landing-header .container {
    padding: 176px 0 !important;
    margin: auto 60px;
}

p .btn-button {
    color: #1c516c;
    background-color: #ebac00;
    border-color: #ebac00;
    font-weight: bold;
}

p .btn-button:hover {
    background-color: #1c516c;
    border-color: #1c516c;
    color: #ebac00;
}

.lead {
    max-width: 70% !important;
}

.card-case {
    margin: auto !important;
    max-width: 1400px;    
    padding-top: 35px;
}

.card {
  background-color: #1c516c !important;
  border-radius: 5px;
  height: 170px;
  margin: 30px;
  position: relative;
  width: 285px !important;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.display-data {
    margin: auto;
}

.data-case {
    padding: 65px 0;
}

.data-h {
    font-weight: bold;
    color: #ebac00;
    font-size: 27px;
}
.data-p {
    font-size: 38px;
    color: #fff;
    font-weight: bold;
}
.symptoms-tracker {
    background-color: #ededed;
}

.symptoms-tracker .row {
    margin: auto;
    padding: 85px 0;
}

.symptom-p {
    font-size: 20px;
    font-weight: bold;
}

.symptom-button {
    margin-bottom: 0;
}

.tableauViz {
    margin: auto !important;
}

.tableauPlaceholder {
    margin: 65px;
}

.footer {
    position: absolute;
    bottom: 0;
    margin-top: 65px;
    width: 100%;
}

.footer .container {
    padding: 0 !important;
}

.footer p {
    margin-bottom: 0;
}

/* Set the size of the div element that contains the map */
#map {
    height: 100%;
    width: 100%;
}


