.symptom-content-row {
    padding: 65px 0;
    max-width: 1200px;
    margin: auto;
}

.symptom_container {
    background-color: #f7f7f9;
    border: 1px solid #bbb;
    overflow: hidden;
    padding: 85px 0;
    max-width: 990px;
}

.symptoms-list {
    list-style-type: none;
    margin: auto;

}

.formgroup-container {
    padding-bottom: 65px;
}

.symptoms-list > li {
    padding-bottom: 30px;
}

.form-check-input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border-radius: 0;
}


.save_symptom {
    max-width: 145px;
    margin: auto;
}

.display-message {
    text-align: center;
}