#sidebarMenu{
    background-color: #367ed6 !important;
    min-height: 100vh;
}

.position-sticky {
    padding: 65px 0 !important;
}

#sidebarMenu .nav-item {
    padding-bottom: 20px;
    font-size: 18px !important;
}

#sidebarMenu .nav-item > a {
    color: #fff;
}

#sidebarMenu .nav-item > a:hover {
    background-color: #a0d1f9;
    color: #33629c;
    font-weight: bold;
    border-radius: 3px;
}
