<!DOCTYPE html>
<html lang="en">
<head>

    {% block head %}
    <link rel="stylesheet" href="static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <title>{% block title %}{% endblock %} California Covid-19 Tracker</title>
    {% endblock %}
</head>
<body>
    {% block navbar %}
    <nav class="navbar navbar-expand-xl navbar-light shadow-sm px-5 py-3 bg-white rounded">
        <a class="navbar-brand" href="/"><img src="/static/img/covid-19-3.png" width="30" height="30" alt="covid-19 img"> Covid-19 Tracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav  mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/vaccine">Vaccine Location</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/testing">Testing Location</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/symptoms">Symptoms Tracker</a>
              </li>
          </ul>
           <ul class="navbar-nav ms-auto">
              {% if 'user_id' not in session %}
              <li class="nav-item">
                <a class="nav-link" href="/login"><i class="bi bi-person-fill"></i> Login</a>
              </li>
              {% else %}
                <!-- Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User Account</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/user_profile">Profile</a>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>
              {% endif %}
            </ul>
        </div>
      </nav>
    {% endblock%}

    {% block content %}
    {% endblock %}

    {% block footer %}
      <footer class="footer py-3 bg-light">
      <div class="container">
        <p class="float-end"><a href="#">Back to top</a></p>
        <p>&copy; {{ year }} Paresa Morton</p>
      </div>
      </footer>
    {% endblock %}
    <!-- JavaScript Bundle with Popper -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{% block scripts %}

{% endblock %}
</body>
</html>