{% extends "base.html" %}


{% block content %}


<form id="symptom_content" action="/add_symptoms" method="post">
    {% for symptom in symptoms %}

    <input type="checkbox" id={{symptom.symptom_id}} class="get_value" value={{symptom.symptom_name}} name={{symptom.symptom_id}}>

    <label for={{symptom.symptom_id}}>{{symptom.symptom_name}}</label><br>
    
    {% endfor %}
    <button id="add_button" class="save_symptom"  >Add Symptoms</button>
  </form>
<h4 id="result"></h4>
  {% endblock %}

  {% block scripts %}
    <script src="/static/js/symptoms.js"></script>
{% endblock %}