{% extends 'base.html' %}

{% block title %}Testing Locations{% endblock %}

{% block content %}
<div class="conainter-fluid">
    <div id="testingsMap"></div>
</div>
<div class="container mt-5">
    <div class="row">
        <h1 id="testingsTitle">Testing Locations</h1>
    </div>
    <div class="row">
        <p class="justifyText">Search for testing locations by zipcode.</p>
        <form class="form-inline" action="/testing" method="GET" id="testingSearchForm">
            <div class="form-group">
                <label for="zip_code">Search: </label>
                    <input class="form-control mx-sm-3" type="text" name="zip_code" id="zip_code" required>
                <button type="submit" id="testingsearchButton" class="btn btn-primary">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </form>
    </div>
    <div class="row">
        <p class="alert alert-primary" id="testingsErrorMessage"><small><a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to enable favoriting testings.</small></p>
    </div>
</div>

        <div id="testingsResults">
            <form id="testing_content" action='/add_testing_site' method="post">
                {% for test_id, v in data.items() %}
                    <ul>
                        {{ v['alterate_name'] }}
                        {{ v['address'] }}
                        {{ v['state_province'] }}
                        {{ v['zip_code'] }}
                        {{ v['city'] }}
                        {{ v['phone_number'] }}    
                    </ul>
                    <button id="add_button" type="button" class="save_testing_location" value="{{ test_id }}" >Save Location</button>
                {% endfor %}
            </form>
        </div>
        <div id="test_info"></div>
{% endblock %}

{% block scripts %}
    <script src="/static/js/testing.js"></script>
{% endblock %}