{% extends 'base.html' %}

{% block title %}Testing Locations{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="static/css/locations.css">
{% endblock %}
{% block content %}

<div class="site-header text-center">
    <div class="heading-row">
        <h1 id="testingsTitle">Testing Locations</h1>
    </div>
</div>
{% block flash_message%}
<div class="error">
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes alert alert-primary text-center" role="alert"">
        {% for message in messages %}
             <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endwith %}
</div>
{% endblock %}
<div class="display-site-info">
    <div class="site-search">
        <div class="search-row">
            <p class="locations-p text-center">Search for testing locations by zipcode.</p>
            <form class="d-flex" action="/testing" method="GET" id="testingSearchForm">
                <input class="form-control me-2" type="search" placeholder="Search Zipcode" aria-label="Search" name="zip_code" id="zip_code" required>
                <button id="testingsearchButton" class="testing-search btn btn-button btn3-style" type="submit">Find Testing</button>
            </form>
        </div>
    </div>
    <div class="testing-p">
        <p class="site-info-p container text-center">California has partnered with OptumServe to provide free, confidential testing statewide. 
            Tests are available for everyone, including underserved communities and individuals who are at high risk. 
        </p>
    </div>
    <div class="testing-show-info d-md-flex flex-md-equal w-100 my-md-3 ps-md-3 invisible">
        <div class="bg-light me-md-3 pt-3 px-3 py-md-5 px-md-5 overflow-hidden">
            <div id="testingsResults">
                <form id="testing_content" action='/add_testing_site' method="post">

                </form>
            </div>
            <div id="test_info"></div>
        </div>

        <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden map">
            <div id="map"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="/static/js/testing.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiiu57hnOECo1FEQV1I4nTVR6qXus_LnI&callback=initMap" type="text/javascript"></script>   
{% endblock %}