{% extends 'base.html' %}

{% block title %}vaccine Locations{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="static/css/locations.css">
{% endblock %}

{% block content %}
<div class="site-header text-center">
    <div class="heading-row">
        <h1 id="vaccinesTitle">Vaccine Locations</h1>
    </div>
</div>
{% block flash_message %}
    <div class="error">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes alert alert-primary text-center" role="alert">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    </div>
{% endblock %}
<div class="display-site-info">
    <div class="site-search">
        <div class="search-row">
            <p class="locations-p text-center">Search for vaccine locations by zipcode.</p>
            <form class="d-flex" action="/vaccine" method="GET" id="vaccineSearchForm">
                <input class="form-control me-2" type="search" placeholder="Search Zipcode" aria-label="Search" name="zip_code" id="zip_code" required>
                <button id="vaccinesearchButton" class="vaccine-search btn btn-button btn3-style" type="submit">Find Vaccine</button>
            </form>
        </div>
    </div>
    <div class="vaccine-p">
        <p class="site-info-p container text-center">Vaccinations are in high demand. But you can find out when it’s your turn to get one. 
            Sign up at  <a href="https://myturn.ca.gov/">myturn.ca.gov</a>  or call (833) 422-4255 and schedule your appointment, 
            or get notified when appointments are available in your area.
        </p>
    </div>
    <div class="vac-show-info d-md-flex flex-md-equal w-100 mt-md-3 ps-md-3 invisible">
        <div class="bg-light me-md-3 pt-3 px-3 py-md-5 px-md-5 overflow-hidden">
            <div id="vaccinesResults">
                <form id="vaccine_content" action='/add_vaccine_site' method="post">
                    
                </form>
            </div>
            <div id="vaccine_info"></div>
        </div>


        <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden map">
            <div id="map"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="/static/js/vaccine.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiiu57hnOECo1FEQV1I4nTVR6qXus_LnI&callback=initMap" type="text/javascript"></script>   
{% endblock %}